@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

:root {
    --font: font-family: 'Montserrat', sans-serif;
}


@keyframes background {
    100% { background-size: 5000px 1000px;}
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background-image: url(/img/Colored\ Shapes.svg);
    background-size: 2000px 1000px;
    background-position: -500px 0;
    animation: background 8s infinite alternate linear;  
    transform: translate(10px, 10px);
    color: #fff;

}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 0 0 20px 0;
    background: rgba(191, 223, 9, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
}

.cabecera {
    border: 1px solid red;
    height: 80px;
    background-color: #301E67;
}

.container h1 {
    font-size: 2.5rem;
    color: brown;
    text-transform: uppercase;
}

