body {
    text-align: center;
    font-family: cursive;
    color: #000;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #000;
}

.container h1 {
    font-size: 2.5rem;
    color: brown;
    text-transform: uppercase;
}